

// color

$green4d:   #244D4D;
$green44:   #154444;
$green64:   #305f64;
$greene2:   #DEE4E2;
$whiteff:   #ffffff;
$black16:   #161616;
$black00:   #000000;
$gray44:    #444444;
$gray22:    #222222;
$gray38:    #383738;
$gray24:    #242424;
$gray90:    #919090;
$grayf6:    #F4F6F6;
$orange23:  #ef5423;
$blueff:    #ECF4FF;
$grayba:    #bababa;
$graye5:    #d9dce5;
$gray80:    #808080;
$green80:   #407980;
$yellow24:  #FFB624;

// global classes

.container {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

body {
  background-color: $whiteff;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  padding: 15px 25px;
  color: $green44;
  background-color: $whiteff;
}

.text-effect {
  position: relative;
  cursor: pointer;
  transition: color 0.3s, padding 0.3s;
  outline: transparent;
  
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: $yellow24;
    opacity: 0.3;
    transition: height 0.3s, transform 0.3s;
  }

    &:hover {
    color: $yellow24;
  }

  &:active::before {
    transform: rotate(30deg);
  }

  &:focus::before {
      height: 100%;
  }
}

.input-effect {
  outline: transparent;

  &:focus {
    box-shadow: 0 0 10px $yellow24;
  }
}
