

// color

$green4d:   #244D4D;
$green44:   #154444;
$green64:   #305f64;
$whiteff:   #ffffff;
$black16:   #161616;
$black00:   #000000;
$gray44:    #444444;
$gray22:    #222222;
$gray38:    #383738;
$gray24:    #242424;
$gray90:    #919090;
$grayf6:    #F4F6F6;
$orange23:  #ef5423;
$blueff:    #ECF4FF;
$grayba:    #bababa;

// global classes

.container {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

body {
  background-color: $whiteff;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}