@import 'reset';
@import 'fonts';
@import 'global';

@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}



.header {
  margin-bottom: 70px;
  
  &__menu {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 44px 0 27px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: $black16;
  }

  &__menu-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  &__menu-item {
    margin-right: 70px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__inner {
    display: flex;
  }

  &__box {
    padding: 110px 100px 100px;
    width: 100%;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    background-color: $green44;
    color: $whiteff;
  }

  &__image {
    min-width: 411px;
    width: 100%;
  }

  &__text {
    margin-bottom: 35px;
    max-width: 480px;
    width: 100%;
  }

  &__title {
    display: block;
    font-family: 'Monserrat', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.1;
    margin-bottom: 20px;
    max-width: 560px;
    width: 100%;
  }

  &__link {

  }
}

.brands {
  padding: 70px 0;

  &__subtitle {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-style: 32px;
    line-height: 1.4;
    color: $green4d;
    text-align: center;
    padding-bottom: 40px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
}

.about {
  padding: 70px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
  }

  &__image {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: -35px;
      background-color: $greene2;
      transform: translate(35px, 35px);
      z-index: -1;
    }
  }

  &__img {
    min-width: 596px;
    width: 100%;
    object-fit: cover;
  }

  &__box {
    max-width: 437px;
  }

  &__title {
    font-family: 'Monserrat', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.3;
    margin-bottom: 20px;
    color: $green4d;
  }

  &__text {
    font-family: 'BM Sans', sans-serif;
    font-weight: 400;
    font-style: 20px;
    line-height: 1.2;
    color: $gray44;
    margin-bottom: 40px;
  }
}